// Variables
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$button-color: linear-gradient(354deg, $primary 0%, $secondary 100%);

// Keyframes
@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

// Propriétés générales
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 10px;
}

header {
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    & .header-arrow {
        position: absolute;
        left: 2em;
        top: 40%;
    }
    & img {
        width: 50%;
        max-width: 150px;
    }
}

button {
    background: $button-color;
    color: #FFFFFF;
    font-family: inherit;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
    border-radius: 30px;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.50);
        transition: all 400ms;
    }

}

h2 {
    font-family: 'Shrikhand', cursive;
}

.card {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.txt-bg {
    font-weight: bold;
    font-size: 1.2em;
}

footer {
    background-color: #353535;
    color: #FFFFFF;
    padding: 20px;
    & h2 {
        color: #FFFFFF;
        margin-top: 0;
        font-size: 1.2rem;
    }
    & ul {
        list-style-type: none;
        padding: 0;
    }
    & li a {
        display: flex;
        align-items: center;
        margin: 10px 0;
        & i {
            margin-right: 10px;
        }
        & p {
            margin: 0;
            background: linear-gradient(to top, $tertiary 0%, $tertiary 10%, transparent 10.01%) no-repeat;
            background-size: 0 100%;
            transition: background-size .3s;
            &:hover {
                background-size: 100% 100%;
        }
        }
    }
}

// Index
.localisation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #F3F3F3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) inset;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.66);
    padding: 5px;
}

.location-marker {
    height: 1em;
    display: flex;
    align-items: center;
    & i {
        height: 100%;
    }
}

.find-restaurant{
    background-color: #F7F7F7;
    padding: 20px;
    text-align: center;
    & p {
        font-weight: 200;
    }
    & button {
        font-weight: bold;
        margin: 40px auto;
        padding: 15px 30px;
    }
}

.steps-section {
    padding: 20px;
    & ol {
        padding: 0;
        counter-reset: stepList;
        list-style-type: none;
    }
    & li {
        padding: 20px 40px;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        margin-bottom: 20px;
        & a {
            display: flex;
            align-items: center;
            font-weight: bold;
            & .fa-mobile-alt, .fa-list-ul {
                color: rgba(0, 0, 0, 0.5);
            }
            & .fa-store {
                color: $primary;
            }
        }
        &::before {
            counter-increment: stepList 1;
            content: counter(stepList) " ";
            background-color: $primary;
            height: 25px;
            width: 25px;
            position: absolute;
            left: -10px;
            top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            color: #FFFFFF;
        }
    }
    & .tasting {
        background-color: rgba(146, 86, 220, 0.1);
    }
}

.restaurants {
    background-color: #F7F7F7;
    padding: 50px 20px;
    & h1 {
        margin-top: 0;
    }
    & .container {
        width: 100%;
        & .index-card {
            height: 275px;
            & .card-img {
                height: 70%;
                width: 100%;
                position: relative;
                & .new {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    background-color: $tertiary;
                    padding: 6px 12px;
                    margin: 0;
                    border-radius: 2px;
                    font-weight: bold;
                    color: #248f74;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }
            }
        }
        & .card-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px;
            height: 30%;
        }
        & .restaurant {
            & p {
                margin: 5px;
            }
        }
    }
}

// Restaurants
.banner img {
    width: 100%;
    object-fit: cover;
}

.restaurant-menu {
    margin-top: -50px;
    padding: 20px;
    border-radius: 40px;
    background-color: #F3F3F3;
    position: relative;
    & .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & i {
            margin-right: 15px;
        }
    }
    & .container {
        & h3 {
            font-weight: normal;
            color: rgba(0, 0, 0, 0.66);
            text-transform: uppercase;
            position: relative;
            padding-bottom: 0.5em;
            &::after {
                content: " ";
                width: 3rem;
                height: 0.2em;
                position: absolute;
                background-color: $tertiary;
                left: 0;
                bottom: 0;
            }
        }
        & section {
            margin-bottom: 50px;
        }
        & .menu-card {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #FFFFFF;
            cursor: pointer;
            overflow: hidden;
            animation: appear;
            animation-duration: 600ms;
            animation-timing-function: cubic-bezier(0.5, 1.5, 0.66, 0.8);
            animation-fill-mode: both;
            transform: scale(0);
        }
        @for $i from 0 to 10 {
            .delay-#{$i} {
              animation-delay:  #{$i/20}s;
            }
          }
        & .menu-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
        }
        & p {
            margin: 2px;
        }
        & .price {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-weight: bold;
        }
        & .check-icon {
            float: right;
            width: 4rem;
            margin: -10px;
            background-color: $tertiary;
            color: #FFFFFF;
            transform: translateX(100%);
        }
    }
    & .button {
        text-align: center;
        margin-bottom: 50px;
        & button {
            padding: 15px 40px;
        }
    }
}
